<div>
  <div class="grumble">
    <grumble></grumble>
  </div>
  <form class="commentForm" ng-submit="createComment(comment)">
    <label>Author Name:</label>
    <input type="text" ng-model="comment.authorName" name="authorName">
    <label>Content:</label>
    <input type="text" ng-model="comment.content" name="content">
    <button type="submit">Submit</button>
  </form>
  <ul>
    <li ng-repeat="comment in comments | orderBy:'-created_at'">
      <comment-show></comment-show>
    </li>
  </ul>
</div>
